div(data-role='header')
  h1 Unser Team
  a.ui-btn-left.ui-btn.ui-btn-inline.ui-mini.ui-corner-all.ui-btn-icon-left.ui-icon-grid(href='#navigation') Navigation
  a.ui-btn-right.ui-btn.ui-btn-inline.ui-mini.ui-corner-all.ui-btn-icon-right.ui-icon-gear(href='#user-edit') Options
